<section class="jumbotron  text-center">
  <h2><img class="header-avatar" src="<%= @user_details['info']['image'] %>"></h2>
  <h2>You are now logged in, <%= @user_details['extra']['raw_info']['name'] %>!</h2>
</section>

<section class="container">

  <div class="panel panel-default">
    <div class="panel-heading">User ID</div>
    <div class="panel-body">
      <pre><%= @user_id %></pre>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Auth0 User ID</div>
    <div class="panel-body">
      <pre><%= @auth0_user_id %></pre>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Email </div>
    <div class="panel-body">
      <pre><%= @email %></pre>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Pre-existing conditions</div>
    <div class="panel-body">
      <pre><%= current_user.select(:pre_existing_conditions).first.pre_existing_conditions %></pre>
    </div>
  </div>

      <div class="panel panel-default">
    <div class="panel-heading">Country</div>
    <div class="panel-body">
      <pre><%= @country %></pre>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Bearer token </div>
    <div class="panel-body">
      <pre><%= @bearer_token %></pre>
    </div>
  </div>
</section>

<%= link_to 'Edit Profile', edit_user_path(current_user.select(:id).first.id, ) %> | <%= link_to 'Back', root_path, { action: "get" } %>



