<h1>Editing User</h1>

<%= form_for @user do |f| %>
  <%= f.label 'Name' %><br>
  <%= f.text_field :name %><br>
  <%= f.select(:pre_existing_conditions, 
	[['Diabetes', 'Diabetes'],
	['Obesity', 'Obesity'],
	['Liver Disease', 'Liver Disease'],
	['Heart Disease', 'Heart Disease'],
	['Lung Disease', 'Lung Disease'],
	['Immunocompromised', 'Immunocompromised'],
	['Elderly', 'Elderly']],
	{ :prompt => "Please select any pre-existing conditions"},
    { :multiple => true }
     ) %>
  <%= f.select :country, collection: CountryStateSelect.countries_collection %>

  <%= f.submit "Submit User" %>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
