<p id="notice"><%= notice %></p>

<section class="jumbotron  text-center">
  <h2><img class="jumbo-thumbnail" src="@current_user.profile_photo_url "></h2>
  <h2>Edit <%= @current_user.name %>'s Profile!</h2>
</section>

<section class="container">

  <div class="panel panel-default">
    <div class="panel-heading">Email </div>
    <div class="panel-body">
      <pre><%= @current_user.email %></pre>
    </div>
  </div>

    <div class="panel panel-default">
    <div class="panel-heading">Pre-existing conditions</div>
    <div class="panel-body">
      <pre><%= @current_user.pre_existing_conditions %></pre>
    </div>
  </div>

      <div class="panel panel-default">
    <div class="panel-heading">Country</div>
    <div class="panel-body">
      <pre><%= @current_user.country %></pre>
    </div>
  </div>

    <div class="panel panel-default">
    <div class="panel-heading">Bearer token </div>
    <div class="panel-body">
      <pre><%= @current_user.auth0_user_id %></pre>
    </div>
  </div>
  
</section>
<%= link_to 'Edit', edit_user_path(@current_user) %> |
<%= link_to 'Back', users_path %>
