<p id="notice"><%= notice %></p>

<section class="jumbotron  text-center">
  <h2><img class="jumbo-thumbnail" src="<%= @current_user.profile_photo_url %>"></h2>
  <h2>Edit <%= @current_user.name %>'s Profile!</h2>
</section>

<section class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Risk Score</div>
    <div class="panel-body">
      <% if @current_user.risk_score > 100 %>
      <div class="alert alert-danger" role="alert">
      <p>High risk level! Follow <a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/index.html" class="alert-link">CDC guidelines</a> for high risk citizens.</p>
      <%= @current_user.risk_score%>
      </div>
      <% elsif @current_user.risk_score == 0 %>
      <div class="alert alert-info" role="alert">
      <%= "No risk score. Update your age, location and pre-existing conditions on your profile to see your score!" %>
      </div>
      <% else %>
      <div class="alert alert-info" role="alert">
      <p>Medium risk level though we still recommend following <a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/index.html" class="alert-link">CDC guidelines</a> for safety.</p><%= @current_user.risk_score %> 
      </div>
      <% end %>
    </div>
  </div>

  <fieldset class="form-group">
    <div class="form-inputs">
      <div class="form-group">
    <div class="panel panel-default">
    <legend class="col-form-label pt-0">Age</legend>
      <pre><%= @current_user.age %></pre>
</div>
</div>
</div>
</fieldset>

    <div class="panel panel-default">
    <div class="panel-heading">Symptoms </div>
    <div class="panel-body">
      <pre><%= @current_user.has_symptoms? %></pre>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Email </div>
    <div class="panel-body">
      <pre><%= @current_user.email %></pre>
    </div>
  </div>

    <div class="panel panel-default">
    <div class="panel-heading">Pre-existing conditions</div>
    <div class="panel-body">
      <pre><%= @current_user.pre_existing_conditions %></pre>
    </div>
  </div>

      <div class="panel panel-default">
    <div class="panel-heading">Country</div>
    <div class="panel-body">
      <pre><%= @current_user.country %></pre>
    </div>
  </div>

    <div class="panel panel-default">
    <div class="panel-heading">Auth0 user ID </div>
    <div class="panel-body">
      <pre><%= @current_user.auth0_user_id %></pre>
    </div>
  </div>

    <div class="panel panel-default">
    <div class="panel-heading">Bearer token </div>
    <div class="panel-body">
      <pre><%= "Insert bearer token here!" %></pre>
    </div>
  </div>
  
</section>
<%= link_to 'Edit', edit_user_path(@current_user) %> |
<%= link_to 'Back', users_path %>
