<h1>Welcome to the COVID-19 Risk Service! #index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= form_tag("api/coviddata", method: "get") do %>
  <%= label_tag(:location, "Retrieve Covid-19 Data for your country:") %>
  <%= text_field_tag(:location) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @current_user.present? %>
  <h1>See dashboard</h1>
  <%= button_to 'See Dashboard', 'dashboard', method: :get, class: 'btn btn-success btn-lg', id: 'qsLoginBtn' %>

<% else %>
  <h1>Login to save your data and get notifications</h1>
  <%= button_to 'Login', '/auth/auth0', method: :post, class: 'btn btn-success btn-lg', id: 'qsLoginBtn' %>

  <h1>Logout</h1>
  <%= link_to "logout", logout_path %>
<% end %>